
/* FONT TAGS FONT TAGS FONT TAGS FONT TAGS FONT TAGS FONT TAGS */

body { /* Style for Body */
  margin: 5px;
  font-family: Helvetica , Arial, sans-serif;
  background-color: #60bbd0;
  color: white;

  height: 100%;
}

p { /* Style for Paragraphs */
  margin-top: 0;
  font-family: Helvetica , Arial, sans-serif;
  padding: 10px;
  color: white;
  font-size: 16px;
  text-align: center;


}

h2 { 
  margin: 0;
  font-family: Helvetica , Arial, sans-serif;
  padding: 10px;
  color: white;
}

h { /* Style for Headers */
  margin: 0;
  font-family: Helvetica , Arial, sans-serif;
  padding: 10px;
  color: white;
  
}





/* COLUMNS COLUMNS COLUMNS COLUMNS COLUMNS COLUMNS */


* {
  box-sizing: border-box;
}

.col-md-4{
    border-left: 3px solid #60bbd0;
    border-right: 3px solid #60bbd0;
    border-bottom: 5px solid #60bbd0;
}


.row{
  background-color:#a3d9e5;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-left: 5px solid #60bbd0;
  border-right: 5px solid #60bbd0;
  
}

.button{
  border: 15px transparent;
  background-color: transparent;
  width: 50px;
  height: 50px;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 15px;
}

.null {cursor: default;}
.sub { width: 60px; }
.add {width: 80px; height: 40px;}


 
  
  
/* NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR */
  
  
  
  
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #60bbd0;
  font-family: Helvetica , Arial, sans-serif;
  margin-top: 0;
  font-size: 28px;
  text-decoration: none !important;
  padding-left: 0px; 
  
  
}
  
  

li {
  float: left;
}

li a, .navbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
  font-family: Helvetica , Arial, sans-serif;
  margin-top: 0;
  font-size: 28px;
  right:50px;
  text-decoration: none !important;
  
  
 
}



.calendar {
  float: right;
}

li a:hover, .navigation:hover .navbtn {
  background-color: #a3d9e5;
  font-size: 28px;
  color: white;
  color: white;
  text-decoration: none !important;
}

li.navigation {
  display: inline-block;
  float: right;
  right:50px;
}

.navigation-content {
  display: none;
  position: absolute;
  background-color: #60bbd0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  font-family: Helvetica , Arial, sans-serif;
  margin-top: 0;
  font-size: 16px;
  
}

.navigation-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none; 
  display: block;
  text-align: left;
  font-family: Helvetica , Arial, sans-serif;
  font-size: 16px;
}

.navigation-content a:hover {background-color: #a3d9e5;}

.navigation:hover .navigation-content {display: block;}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#60bbd0;
   color: white;
   text-align: center;
}




